/LogicTestsConsoleAppForDotNetFramework/LogicTestsConsoleAppForDotNetFramework/obj/
/LogicTestsConsoleAppForDotNetFramework/LogicTestsConsoleAppForDotNetFramework/bin/
/LogicTestsConsoleAppForDotNetFramework/.vs/
